* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.about-me {
  margin-top: 20px;
  text-align: left;
}

.about-me h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.about-me p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.1);
}

.social-links img {
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out;
}

.social-links img:hover {
  opacity: 0.8;
}

.back-button {
  margin-top: 20px;
  text-align: center;
}

.back-to-home {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.back-to-home:hover {
  background-color: #0056b3;
}